<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container my-5">
      <div class="border rounded p-5">
        <h1><%= blog.title %></h1>
        <p>- By <%= blog.author %></p>
        <p style="text-align: justify"><%= blog.body %></p>
        <a href="#" class="btn btn-danger">Delete Blog</a>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
